<div class="section">
	<div class="container">
		<div class="hero-unit">
			<h1>Ebay Analytics Made Easy!</h1>
			<p>We provide you with the tools to make your Ebay businees thrive.</p>
			<%= link_to "Take a Look", selling_path, class: "btn btn-primary" %>
		</div>
	</div>
</div>
<div class="section dark-section">
	<div class="container">
		<div class="row">
			<div class="span4 center">
				<%= image_tag image_path("chart.png"), width: "90%", alt: "Pie chart for percent sold of different categories" %>
			</div>
			<div class="span7 offset1 upper-offset">
				<h2>Find out what's selling on Ebay right now!</h2>
				<p>Using real auction data, we make it easy for you to find which items are selling, and which ones aren't.</p>
				<%= link_to "Get Started", selling_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>
<div class="section light-section">
	<div class="container">
		<div class="row">
			<div class="span7 upper-offset">
				<h2>Spend less, make more!</h2>
				<p>With our auction data, you know exactly what is selling on Ebay, making it easier for you to find profitable items and make money.  Spend less time searching and more time making profits.</p>
				<%= link_to "Learn More", selling_path, class: "btn btn-primary" %>
			</div>
			<div class="span4 offset1">
				<%= image_tag image_path("money.png"), width: "100%", alt: "Dollar signs for the profits you will be making" %>
			</div>
		</div>
	</div>
</div>
<div class="section">
	<div class="container">
		<div class="row">
			<div class="span4">
				<%= image_tag image_path("line-chart.png"), width: "90%", alt: "Line chart showing your risk going down when you use AuctionStat.it"%>
			</div>
			<div class="span7 offset1 upper-offset">
				<h2>Reduce the risk your item won't sell!</h2>
				<p>Don't waste your time buying items that won't sell!.  When you know what items are selling, you can reduce the risk your items won't sell.  Eliminate relisting fees and increase your profits! </p>
				<%= link_to "Reduce Risk", selling_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>